:root {
	--default-icon: url(https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg) !important;
	--batata-icon: url(https://i.imghippo.com/files/pQm9460yE.png) !important;
	--batata-color: #9582ff !important;
}

